<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Appium Parallel Test Execution Suite" parallel="tests" thread-count="2">

    <test name="Pixel 8 Pro API 34">
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="14" />
        <classes>
            <class name="io.github.burakkaygusuz.tests.LoginTest" />
        </classes>
    </test>

    <test name="Pixel 7 Pro API 33">
        <parameter name="udid" value="emulator-5556" />
        <parameter name="platformVersion" value="13" />
        <classes>
            <class name="io.github.burakkaygusuz.tests.LoginTest" />
        </classes>
    </test>
</suite>